extend layout

block content
    a(href="/account/login") Logout
    h2 Account
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    hr
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")