extend layout

block content
    //- .container
    //-     .row
    //-         .col-6
    //-             ul
    //-             each character in characters
    //-                 li
    //-                     - var urlSlug = character.slug
    //-                     a(href="/characters/" + urlSlug)= character.name    
    ul
    each character in characters
        li
            - var urlSlug = character.slug
            a(href="/characters/" + urlSlug)= character.name