extend layout

block content
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    .container
        .row
            .col-4
                ul
                each character in characters
                    li
                        - var urlSlug = character.slug
                        a(href="/characters/" + urlSlug)= character.name 
                        //a(href="/characters/" + urlSlug): img(src=character.image)
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")