extend layout

block content
    h3 Dashboard
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    h5 My Favorite Movies
    if message
        p= message
    if favMovies
        ul
        for movie in favMovies
            li= movie.title

    include includes/add-movie
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")