extend layout

block content   
    h2 Famous Characters From Popular Movie Franchises
    img.pic1(src="/images/pag1.jpg" alt="StarWars" width="550")
    img.pic2(src="/images/page1.jpg" alt="Comics" width="550" height="343")
