extend layout

block content   
    h2 Famous Characters From Popular Movie Franchises
    img.pic1(src="/images/pag1.jpg" alt="StarWars" width="550")
    img.pic2(src="/images/page1.jpg" alt="Comics" width="551" height="344")
    img.pic3(src="/images/pag1_2.jpg" alt="LOTR" width="550" height="302")
    img.pic4(src="/images/pag1_3.jpeg" alt="IndyJones" height="302")
    img.pic5(src="/images/pag1_4.jpeg" alt="Future" width="356" height="302")
