extend layout

block content
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
    form(method="POST" action="/account/login")
        .form-group
            label(for="name") Name
            input#name.form-control(type="text" aria-describedby="nameHelp" placeholder="Enter your name here" name="name")
        button.btn-btn-primary Login
        hr
        img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
        img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
        img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
        img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")