.header {
    background-color: #eee;
}

.header-title {
    font-size: 20px;
    margin: 0;
}

.content {
    min-height: 120vh;
    padding: 20px 0;
}

.footer>.row {
    bottom: 0;
    background-color: lightblue;
}